name: assignment-autotest-test
on: [push]
jobs:
    unit-test:
        container: cuaesd/aesd-autotest:24-unit-test
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Install build dependencies
            run: |
              apt-get update
              apt-get install -y \
                flex \
                bison \
                build-essential \
                libssl-dev \
                libelf-dev \
                bc \
                cpio \
                gzip \
                kmod \
                libncurses-dev \
                wget \
                git \
                make \
                gcc \
                g++ \
                gcc-aarch64-linux-gnu \
                binutils-aarch64-linux-gnu
          - name: Run unit test
            run: ./unit-test.sh
    full-test:
        container: cuaesd/aesd-autotest:24-assignment3
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Install build dependencies
            run: |
              apt-get update
              apt-get install -y \
                flex \
                bison \
                build-essential \
                libssl-dev \
                libelf-dev \
                bc \
                cpio \
                gzip \
                kmod \
                libncurses-dev \
                wget \
                git \
                make \
                gcc \
                g++ \
                gcc-aarch64-linux-gnu \
                binutils-aarch64-linux-gnu
          - name: Run full test
            run: ./full-test.sh
                g++ \
                gcc-aarch64-linux-gnu \
                binutils-aarch64-linux-gnu
          - name: Run full test
            run: ./full-test.sh
